$white: #fff;
$green: #3c3;

.card {
  width: 250px;
  text-decoration: none;
}

.card-wrapper {
  width: 250px;
  height: 350px;
  margin-bottom: 15px;
}

.title,
.genres {
  display: flex;
  color: $white;
}

.title {
  padding: 0 10px;
  font-size: 1.5rem;
}
.genres {
  padding: 0 10px;
}
.genre:not(:last-child) {
  margin-right: 10px;
}
