$white: #fff;
$green: #3c3;

.card {
  width: 250px;
  text-decoration: none;
}

.card-wrapper {
  width: 250px;
  height: 350px;
  margin-bottom: 15px;
}

.title,
.genres {
  display: flex;
  color: $white;
}

.title {
  padding: 0 10px;
  font-size: 1.5rem;
}
.genres {
  padding: 0 10px;
}
.genre:not(:last-child) {
  margin-right: 10px;
}
:host {
  transition: 0.2s;
  box-shadow: 0 0 0.2rem white;
  border-radius: 10px;
  margin-bottom: 20px;
}
:host:hover {
  transform: translateZ(1.43rem);
  box-shadow: 0 0.6rem 1rem rgba(255, 255, 255, 0.4);
}
