$white: #fff;

.card {
  width: 270px;
  text-decoration: none;
}

.card-wrapper {
  width: 270px;
  height: 380px;
  margin-bottom: 15px;
}

.title,
.genres {
  display: flex;
  color: $white;
}

.title {
  width: 250px;
  height: 72px;
  padding: 0 10px;
  font-size: 1.45rem;
  line-height: 1.55rem;
  text-align: center;
}
.genres {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  color: #777777;
}
.genre:not(:last-child) {
  margin-right: 5px;
}
.genre {
  margin-bottom: 0;
}
:host {
  height: 518px;
  transition: 0.2s;
  box-shadow: 0 0 0.2rem white;
  border-radius: 10px;
  margin-bottom: 20px;
}
:host:hover {
  transform: translateZ(1.43rem);
  box-shadow: 0 0.6rem 1rem rgba(255, 255, 255, 0.4);
}
