<main class="movie">
  <div class="wrapper">
    <section class="movie-info">
      <div class="card-wrapper" *ngIf="movieInfo$ | async as info">
        <app-cover [cardData]="info"></app-cover>
      </div>
      <div class="about">
        <div class="about-wrapper" *ngIf="movieInfo$ | async as info">
          <div class="label en" *transloco="let phrase; read: 'movie'">{{ phrase("title") }}:</div>
          <h1 class="title">{{ info.title }}</h1>
          <div class="label en" *transloco="let phrase; read: 'movie'">{{ phrase("overview") }}:</div>
          <div class="overview">{{ info.overview }}</div>
          <div class="label-wrapper">
            <div class="label en" *transloco="let phrase; read: 'movie'">{{ phrase("release") }}:&emsp;</div>
            <div class="release">{{ info.release_date | date: "YYYY-MM-dd" }}</div>
          </div>
          <div class="label-wrapper">
            <div class="label en" *transloco="let phrase; read: 'movie'">{{ phrase("revenue") }}:&emsp;</div>
            <div class="revenue">{{ info.revenue | currency }}</div>
          </div>
          <div class="label-wrapper">
            <div class="label en" *transloco="let phrase; read: 'movie'">{{ phrase("duration") }}:&emsp;</div>
            <div class="duration">{{ info.runtime | moviesDuration }}</div>
          </div>
          <div class="genre-wrapper">
            <div class="genre" *ngFor="let genre of info.genres">{{ genre.name }}</div>
          </div>
        </div>
        <div class="cast">
          <div class="control">
            <h2 class="cast-title" *transloco="let phrase; read: 'movie'">{{ phrase("cast") }}</h2>
            <button class="show control-button" *ngIf="!isAllList" (click)="showAndHideAllCast()">
              {{ "movie.show" | transloco }}
            </button>
            <button class="hide control-button" *ngIf="isAllList" (click)="showAndHideAllCast()">
              {{ "movie.hide" | transloco }}
            </button>
          </div>
          <div class="actors" [ngClass]="{ all: isAllList }" *ngIf="movieActors$ | async as actors">
            <a href="#" class="actor" *ngFor="let actor of actors.cast">
              <div class="photo-wrapper">
                <app-photo [photo]="actor.profile_path"></app-photo>
              </div>
              <p class="name">{{ actor.name }}</p>
              <p class="character">{{ actor.character }}</p>
            </a>
          </div>
        </div>
        <div class="images">
          <h2 class="images-title" *transloco="let phrase; read: 'movie'">{{ phrase("images") }}</h2>
          <div class="images-async" *ngIf="movieImages$ | async as imageBandle">
            <div class="images-wrapper" *ngIf="imageBandle | removeImages as images">
              <div class="image" *ngFor="let image of images.backdrops">
                <div class="without">
                  <img
                    src="https://image.tmdb.org/t/p/w300/{{ image.file_path }}"
                    alt="image of the movie"
                    class="without-image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="recommendation">
      <h2 class="cast-title" *transloco="let phrase; read: 'movie'">{{ phrase("recommendations") }}</h2>
      <div class="recommendation-wrapper" *ngIf="movieRecommenadions$ | async as recommendations">
        <app-card class="card" *ngFor="let movie of recommendations.results" [cardData]="movie"></app-card>
      </div>
    </section>
  </div>
</main>
