<main class="movie">
  <div class="wrapper">
    <section class="movie-info">
      <div class="card-wrapper">
        <app-cover></app-cover>
      </div>
      <div class="about">
        <div class="label ru" *ngIf="false">Название:</div>
        <div class="label en" *ngIf="true">Title:</div>
        <h2 class="title">Film name</h2>
        <div class="label ru" *ngIf="false">Описание:</div>
        <div class="label en" *ngIf="true">Overview:</div>
        <div class="overview">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil rem libero fuga consectetur delectus quasi ad
          maiores, aliquid nam cupiditate doloremque necessitatibus obcaecati dolores quo odio dolorum porro quibusdam
          illum magnam molestias labore itaque. Deserunt exercitationem explicabo optio odit modi velit tenetur
          voluptatibus sed dolor natus. Velit reiciendis ipsum culpa.
        </div>
        <div class="label ru" *ngIf="false">Дата выхода в прокат:</div>
        <div class="label en" *ngIf="true">Release date:</div>
        <div class="release">{{ date | date: "YYYY-MM-dd" }}</div>
        <div class="label ru" *ngIf="false">Бюджет:</div>
        <div class="label en" *ngIf="true">Revenue:</div>
        <div class="revenue">{{ revenue | currency }}</div>
        <div class="label ru" *ngIf="false">Продолжительность:</div>
        <div class="label en" *ngIf="true">Duration:</div>
        <div class="duration">2:14</div>
        <div class="genre-wrapper">
          <div class="genre" *ngFor="let genre of genres">{{ genre }}</div>
        </div>
        <div class="cast">
          <div class="control">
            <h3 class="cast-title" *ngIf="false">Популярные актёры</h3>
            <h3 class="cast-title" *ngIf="true">Top Billed Cast</h3>
            <button class="show control-button" *ngIf="!isAllList" (click)="showAndHideAllCast()">show all</button>
            <button class="hide control-button" *ngIf="isAllList" (click)="showAndHideAllCast()">hide all</button>
            <button class="show control-button" *ngIf="false" (click)="showAndHideAllCast()">показать всех</button>
            <button class="hide control-button" *ngIf="false" (click)="showAndHideAllCast()">скрыть всех</button>
          </div>
          <div class="actors" [ngClass]="{ all: isAllList }">
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
            <a href="#" class="actor">
              <div class="photo-wrapper">
                <app-photo></app-photo>
              </div>
              <p class="name">Full Name</p>
              <p class="character">Character</p>
            </a>
          </div>
        </div>
        <div class="images">
          <h3 class="images-title" *ngIf="true">Images</h3>
          <h3 class="images-title" *ngIf="false">Кадры</h3>
          <div class="images-wrapper">
            <div class="image">
              <div class="without">
                <img src="../../../../assets/image.svg" alt="no image" class="without-image" />
              </div>
            </div>
            <div class="image">
              <div class="without">
                <img src="../../../../assets/image.svg" alt="no image" class="without-image" />
              </div>
            </div>
            <div class="image">
              <div class="without">
                <img src="../../../../assets/image.svg" alt="no image" class="without-image" />
              </div>
            </div>
            <div class="image">
              <div class="without">
                <img src="../../../../assets/image.svg" alt="no image" class="without-image" />
              </div>
            </div>
            <div class="image">
              <div class="without">
                <img src="../../../../assets/image.svg" alt="no image" class="without-image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="recommendation">
      <h3 class="cast-title" *ngIf="false">Рекомендации</h3>
      <h3 class="cast-title" *ngIf="true">Recommendations</h3>
      <div class="recommendation-wrapper">
        <app-card class="card"></app-card>
        <app-card class="card"></app-card>
        <app-card class="card"></app-card>
        <app-card class="card"></app-card>
        <app-card class="card"></app-card>
        <app-card class="card"></app-card>
      </div>
    </section>
  </div>
</main>
