<mat-button-toggle-group [formControl]="categoryControl" aria-label="Category Switcher">
  <mat-button-toggle
    checked
    value="popular"
    *transloco="let phrase; read: 'switcher'"
    (click)="addNewCategory(categoryControl.value)"
    >{{ phrase("popular") }}</mat-button-toggle
  >
  <mat-button-toggle
    value="top_rated"
    *transloco="let phrase; read: 'switcher'"
    (click)="addNewCategory(categoryControl.value)"
    >{{ phrase("rated") }}</mat-button-toggle
  >
  <mat-button-toggle
    value="upcoming"
    *transloco="let phrase; read: 'switcher'"
    (click)="addNewCategory(categoryControl.value)"
    >{{ phrase("upcoming") }}</mat-button-toggle
  >
</mat-button-toggle-group>
