$black: #000;
$white: #fff;

.actor {
  width: 100vw;
  background-color: $black;
  padding: 15px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1600px;
  margin: auto;
}

.actor-info {
  display: flex;
}

.main-photo-wrapper {
  width: 380px;
  height: 532px;
  margin-right: 25px;
  border-radius: 10px;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
}

.about,
.photos {
  width: 1195px;
  color: $white;
}

.fullname,
.subtitle {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 50px;
  color: $white;
}

.label {
  margin-bottom: 5px;
}

.info {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.bio {
  height: 235px;
  overflow: hidden;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.photo-wrapper {
  width: 200px;
  height: 300px;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo-wrapper:not(:last-child) {
  margin-right: 30px;
}

.photo-title {
  font-size: 1.75rem;
  margin-bottom: 30px;
  color: $white;
}

.subtitle {
  margin-top: 60px;
}

.movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 1621px) {
  .card:not(:nth-child(5n)) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1240px) and (max-width: 1620px) {
  .wrapper {
    width: 1200px;
  }

  .main-photo-wrapper {
    width: 300px;
    height: 440px;
  }

  .about,
  .photos {
    width: 875px;
  }

  .photo-wrapper {
    width: 200px;
    height: 300px;
    background-color: $white;
    border-radius: 10px;
  }

  .photo-wrapper:not(:last-child) {
    margin-right: 20px;
  }

  .card:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 940px) and (max-width: 1239px) {
  .wrapper {
    width: 900px;
  }

  .main-photo-wrapper {
    width: 300px;
    height: 440px;
  }

  .about,
  .photos {
    width: 575px;
  }

  .fullname,
  .subtitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
  }

  .info {
    margin-bottom: 15px;
  }

  .bio {
    height: 215px;
  }

  .photos {
    justify-content: space-between;
  }

  .photo-wrapper:not(:last-child) {
    margin-right: 0;
  }

  .photo-wrapper {
    margin-bottom: 20px;
  }

  .photo-title {
    margin-bottom: 20px;
  }

  .subtitle {
    margin-top: 30px;
  }

  .card:not(:nth-child(3n)) {
    margin-right: 70px;
  }
}

@media screen and (max-width: 939px) {
  .wrapper {
    width: 95%;
  }

  .actor-info {
    flex-direction: column;
    align-items: center;
  }

  .main-photo-wrapper {
    margin-bottom: 20px;
  }

  .fullname {
    margin-bottom: 20px;
  }

  .about {
    width: 95%;
  }

  .info {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .photos {
    width: 100%;
  }

  .photo-wrapper.photo-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .bio {
    height: auto;
    overflow: visible;
  }

  .subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .movies-wrapper {
    justify-content: center;
  }

  .card {
    margin-right: 10px;
  }
}

@media screen and (max-width: 549px) {
  .wrapper {
    width: 90%;
  }

  .main-photo-wrapper {
    justify-content: center;
    width: 250px;
    height: 350px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .fullname,
  .subtitle {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .photo-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .photos {
    justify-content: center;
  }

  .photo-wrapper {
    width: 250px;
    height: 375px;
  }
}
