<main class="movies">
  <div class="wrapper">
    <app-category-switcher class="switcher"></app-category-switcher>
    <div class="movies-wrapper">
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
    </div>
  </div>
  <app-pagination [setPagination] = "setPagination"></app-pagination>
</main>
