$black: #000;

.movies {
  width: 100vw;
  background-color: $black;
  padding: 15px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 1600px;
  margin: auto;
}

.movies-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card {
  transition: 0.2s;
  box-shadow: 0 0 0.2rem white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateZ(1.43rem);
  box-shadow: 0 0.6rem 1rem rgba(255, 255, 255, 0.4);
}

.card:not(:nth-child(5n)) {
  margin-right: 87.5px;
}
