$white: #fff;

.language {
  display: flex;
  justify-content: flex-start;
  width: 55px;
  position: relative;
  color: $white;
  background: inherit;
  font-size: 1.25rem;
  border: 2px solid $white;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 4px;
}

.language::after {
  content: "▼";
  position: absolute;
  right: 4px;
  top: 6px;
  font-size: 0.9rem;
  color: $white;
}

::ng-deep.mat-menu-panel {
  min-width: 0 !important;
  width: 64px;
}

@media screen and (max-width: 939px) {
  .language {
    width: 40px;
    font-size: 1.15rem;
    padding: 2px;
    margin-right: 20px;
  }

  .language::after {
    width: 20px;
    left: 25px;
    top: 2px;
  }

  .mat-button {
    min-width: 48px;
    line-height: 32px;
  }

  ::ng-deep.mat-button-focus-overlay,
  ::ng-deep.mat-ripple {
    width: 40px;
  }

  ::ng-deep.mat-menu-panel {
    width: 48px;
  }
}

@media screen and (max-width: 460px) {
  .language {
    margin-bottom: 10px;
  }
}
